<form action="/<%= @shout.id %>" method="post">
  <input type="hidden" name="_method" value="delete">
  
  <input type="password" name="password">
  <button name="submit">
    <strong>delete</strong>
  </button>
</form>
