<h1><%= @user.handle %></h1>
<% if @shout.any? %>

  <% for shout in @shout %>
    <ul class="ul-one">
      <li><%= shout.message %></li>
      <li><br/><small>likes (<%= shout.likes %>) <a href="/<%= shout.id %>/delete">Delete this message</a></small></li>
    </ul>
  <% end %>
<% else %>
<p>You are not shouting....</p>
<% end %>

