
<form action="/" method="post">
  <input type="text" name="text" cols="20" rows="20">
  <input type="password" name="password">
  <button name="submit">
    <strong>SHOUT!!!!</strong>
  </button>
</form>



<% @shout.each do |shout| %>
  <%= shout.message %>
<% end %>
