<!DOCTYPE html>
<html>
<head>
  <title>Ironhack Shout app</title>
  <link rel="stylesheet" href="/main.css/">
</head>
<body>
  <h1>Ironhack Shout app</h1>
  <a href="/">Home</a> | <a href="/best">Best shouts</a> | <a href="/handle">Users</a>
  <br/>
  <%= yield %>

</body>
</html>
