body {
  color: #333;
  font-size: 14;
  font-style: "Genova";
  margin: 0 auto;
  background: #fff;
  width: 900px;
}

input[type=text] {
  border-radius: 5px;
  font: 16px/1.4 "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
  width: 400px;
  height: 30px;
}

input[type=password] {
  border-radius: 5px;
  font: 16px/1.4 "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
  width: 100px;
  height: 30px;
}

button {
  border-radius: 5px;
  font: 16px/1.4 "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
  width: 90px;
  height: 30px;
}

form {
  border-radius: 5px;
  font: 14px/1.4 "Helvetica Neue", Helvetica, Arial, sans-serif;
  overflow: hidden;
  width: 660px;
}

ul {
    float:left;
    clear:right;
    padding:10px;
    width: 600px;
    list-style: none;
    margin-bottom: -10px;
}
li {
    float:left;
    clear:left;
}
.ul-one {
    background-color:#ccc;
}

.user-list li {
  font-size: 20px;
}

.user-list {
  background-color: #00cccc;
  color: #fff;
}

.user-list a {
  color: #fff;
}

.user-list a:hover {
  color: #000;
}
